@model IEnumerable<EF6_CodeFirst_DrivingSchool.Models.Ref_Payment_Method>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PaymentMethodDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentMethodDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PaymentMethodCode }) |
            @Html.ActionLink("Details", "Details", new { id=item.PaymentMethodCode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PaymentMethodCode })
        </td>
    </tr>
}

</table>
