@model EF6_CodeFirst_DrivingSchool.Models.Customer_Payment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer_Payment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ref_Payment_Methods.PaymentMethodDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ref_Payment_Methods.PaymentMethodDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherPaymentDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherPaymentDetails)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
