@model IEnumerable<EF6_CodeFirst_DrivingSchool.Models.Ref_Customer_Status>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerStatusDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerStatusDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustomerStatusCode }) |
            @Html.ActionLink("Details", "Details", new { id=item.CustomerStatusCode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CustomerStatusCode })
        </td>
    </tr>
}

</table>
